<script setup lang="ts">
import { ref } from "vue";
import { useLoadingStore } from "@/stores/loading";
const loadingStore = useLoadingStore()
const isLoading = ref(true)
</script>

<template>
    <v-dialog v-model="loadingStore.isLoading" persistent width="auto">
        <v-card-text class="text-center">
            <div>Please wait</div>
            <v-progress-circular :size="100" :width="15" color="purple"
                indeterminate>
            </v-progress-circular>
        </v-card-text>
    </v-dialog>
</template>